{% extends 'base.html' %}

{% block title %}
Обратная связь :: {{ block.super }}
{% endblock %}

{% block sidebar %}
{% include 'inc/_sidebar.html' %}
{% endblock %}

{% block content %}
<h1>Обратная связь</h1>

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %}">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

<form method="post">
    {% csrf_token %}

    {% for field in form %}
    <div class="mb-3">
        {{ field.label_tag }}
        {{ field }}
        {% if field.errors %}
            <div class="invalid-feedback d-block">
                {{ field.errors }}
            </div>
        {% endif %}
    </div>
    {% endfor %}

    <button type="submit" class="btn btn-primary">Отправить</button>
</form>
{% endblock %}